<header class="row">
        <nav class="navbar navbar-fixed-top ">
            <div class="navbar-header">
                <a href="javascript:;" class="btn btn-myadmin " id="toggleLeftSideBar">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <ul class="nav navbar-right fn-links">
                <!-- <li>
                    <a href="javascript:;" class="user-logo"><img src="../images/my.jpg" alt=""></a>
                </li> -->
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-warning">99+</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-bell"></i>
                        <span class="label label-danger">99+</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-sign-out"></i>退出
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="" id="settings">
                        <i class="fa fa-tasks"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="friends_list">
                        <i class="fa fa-comments-o"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>