<section class="side-bar right hide" id="set_frined_bar">
    <nav class="">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:;">个人设置</a></li>
            <li><a href="javascript:;">好友列表</a></li>
        </ul>
    </nav>
    <aside class="tab-content">
        <ul>
            <li>社hi西安U型娘</li>
            <li>社hi西安U型娘</li>
            <li>社hi西安U型娘</li>
            <li>社hi西安U型娘</li>
            <li>社hi西安U型娘</li>
        </ul>
    </aside>
    <aside>
    </aside>
</section>
