<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>后台-地域查询</title>
    <link rel="stylesheet" href="{{d.path}}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{d.path}}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{d.path}}/css/common.css" />
    <link rel="stylesheet" href="{{d.path}}/css/admin/admin.css">
</head>

<body class="myadmin-skin">
    <!-- 顶部 -->
    {{ include head}}
    <!-- 内容区域 -->
    <div class="main-wrapper">
        <!-- 左侧菜单导航 -->
        {{ include left_nav }}
        <!-- 右侧功能导航 -->
        {{ include right_nav}}
        <!-- 主要内容区 -->
        <section class="row content-wrapper" id="main_wraper">
            <div class="container">
                <!-- 当前位置 -->
                <nav class="page-location">
                    <ol class=" breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">用户管理</a></li>
                        <li class="active">添加用户</li>
                    </ol>
                </nav>
                <!-- 实际内容 -->
                <div class="box box-border box-success">
                    <table class="admin-table" id="china_area">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>国家</th>
                                <th>编号</th>
                                <th>省(自治区/直辖市)</th>
                                <th>编号</th>
                                <th>市(区)</th>
                                <th>编号</th>
                                <th>县</th>
                                <th>编号</th>
                                <th>乡(镇)</th>
                                <th>编号</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{# if(d.row.length>0){ var x = 0; for(var i= 0;i
                            <d.row.length;i++){ }} <tr>
                                <td>{{++x}}</td>
                                <td>{{d.row[i].country}}</td>
                                <td>{{d.row[i].country_code}}</td>
                                <td>{{d.row[i].name1 || ''}}</td>
                                <td>{{d.row[i].code1 || ''}}</td>
                                <td>{{d.row[i].name2 || ''}}</td>
                                <td>{{d.row[i].code2 || ''}}</td>
                                <td>{{d.row[i].name3 || ''}}</td>
                                <td>{{d.row[i].code3 || ''}}</td>
                                <td>{{d.row[i].name4 || ''}}</td>
                                <td>{{d.row[i].code4 || ''}}</td>
                                </tr>
                                {{# } }else{ }}
                                <tr>
                                    <td colspan="11">未找到符合条件的数据</td>
                                </tr>
                                {{# } }}
                        </tbody>
                    </table>
                </div>
                <div class="box box-border">
                    <form action="">
                        <div class="form-group"></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <footer class="row">
    </footer>
</body>

</html>
