@charset "utf-8";

/*
    #1ab394 主题绿色风格颜色
*/

img {
    max-width: 100%
}

.myadmin-skin .fa {
    font-size: 16px;
    color: #fff;
}

.myadmin-skin {}

.wrapper>header {}

.myadmin-skin .navbar-fixed-top {
    background-color: #1ab394;
    /*background-color: #009688; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.myadmin-skin .navbar-header {
    height: 100%;
    line-height: 50px;
}

.myadmin-skin .navbar-header .btn {
    color: #fff
}

.btn-myadmin:hover,
.btn-myadmin:active,
.fn-links>li>a:focus,
.fn-links>li>a:hover {
    background-color: #18a689;
    border-color: #18a689;
}

#toggleLeftSideBar {
    margin-left: 15px;
}

.fn-links {
    padding-right: 25px;
}

.fn-links>li {
    display: inline-block;
    vertical-align: top;
}

.fn-links>li>a {
    position: relative;
    min-height: 45px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fn-links>li>a.user-logo {
    padding: 5px 8px
}

.user-logo img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.fn-links>li>a>.label {
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    right: -3px;
    top: 4px;
    padding: 0.2em 0.3em;
}

.fn-links>li>a>.fa {
    font-size: 16px;
}

.main-wrapper {
    padding-top: 51px;
    position: relative;
}


/*侧边栏*/

.side-bar {
    position: fixed;
    width: 280px;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    -webkit-transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    -moz-transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    -ms-transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    background-color: #fff;
    min-height: 100%;
}

.side-bar.right {
    top: 0;
    right: 0;
    padding-top: 60px;
}

.side-bar.right.hide {
    right: -280px;
}

.tab-content {
    padding-top: 10px;
}

.side-bar.left {
    top: 51px;
    left: 0;
    padding: 0;
    box-shadow: none;
    overflow: hidden;
}

.side-bar.left.min {
    width: 60px;
}

.user-profile-menu {
    width: 100%;
    height: 130px;
    position: relative;
    background: url(../../images/profile-menu.png) no-repeat 0 0;
    background-size: 100%;
}

.user-pic {
    display: block;
    padding-left: 15px;
    padding-top: 15px;
}

.user-pic.min {
    padding: 0;
}

.user-pic img {
    width: 60px;
    height: 60px;
    border: 3px solid rgba(0, 0, 0, 0.14);
    border-radius: 50%;
}

.user-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    color: #fff;
}

.user-info .fa {
    float: right;
    line-height: 100%;
    margin-right: 5px;
}

.main-fn-menu {
    margin-top: 10px;
}

.main-fn-menu>li>a {
    display: block;
    position: relative;
    padding: 8px 10px 8px 50px;
    color: #4C4C4C;
    font-weight: 600;
}

.main-fn-menu>li>a:hover {
    color: #262626;
    background-color: #F4F4F4;
}

.main-fn-menu>li.active>a {
    background-color: #F4F4F4;
    border-right: 3px solid #1ab394;
    color: #333;
}

.main-fn-menu>li>a>i {
    position: absolute;
    left: 16px;
    top: 0;
    width: 25px;
    padding: 8px 0;
}

.main-fn-menu>li>a .fa {
    color: #4C4C4C;
    font-size: 20px;
}

.sub-menu ul>li>a {
    display: block;
    color: #7f7f7f;
    padding: 8px 10px 8px 50px;
    font-weight: 600;
}

.sub-menu ul>li>a:hover {
    color: #333;
}

.sub-menu ul>li.active>a {
    background-color: #F4F4F4;
    border-right: 3px solid #1ab394;
    color: #333;
}

.sub-menu >a:after {
    content: "\f067";
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    height: 12px;
    line-height: 20px;
    margin-top: -6px;
    line-height: 100%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sub-menu.open >a:after {
    content: "\f068";
}
.sub-menu >ul{
    display: none;
}
.sub-menu.open>ul{
    display: block;
}
/*内容区域*/

.content-wrapper {
    padding-left: 280px;
    background-color: #edecec;
    margin: 0;
    -webkit-transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    -moz-transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    -ms-transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
    transition: all 150ms cubic-bezier(1, -0.01, 1, 1);
}

.content-wrapper.full {
    padding-left: 60px;
}

.row.content-wrapper .container {
    width: 95%;
    min-height: 600px;
    padding-left: 0;
    padding-right: 0;
}

.page-location .breadcrumb {
    padding: 15px 0;
    margin-bottom: 0;
    background-color: #edecec;
}

.page-location .breadcrumb a {
    color: #1ab394;
}
